.imagestop {
	display: flex;
 	width: 80%;
 	height: 40%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	order: 1;


 }

/* .tall img{
	width: 190px;
	height: 600px;
	margin: 1px;
	float: right;
	position: relative;
} */

.square img{
	width: 200px;
/* 	padding: 5%; */
}

.headline-container {
	display: flex;
	order: 2;
	width: 20%;

}
